@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");


:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
  --nav-footer: rgb(44, 44, 183);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* cursor: url(/assets/icons8-airport-48.png), auto; */
}

img {
  object-fit: cover;
  width: 100%;

}


.chat_box {
  bottom: 10px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--text-dark);
  position: fixed;
  z-index: 100;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px;
}

.chat_box h4 {
  display: none;
  position: absolute;
  top: -30px;
  right: 10px;
  color: var(--primary-color-dark);
}

.chat_box:hover h4 {
  display: block;
}

.chat_box i {
  color: var(--extra-light);
  font-size: 3rem;

}


.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1rem;
  height: 60px;
  width: 100%;
  background-color: var(--nav-footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

.nav__logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.nav__logo img {
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 1rem;
  color: var(--extra-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  position: relative;
}

.enquery {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
  position: fixed;
  z-index: 100;
}

.section_enquery {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  padding: 3px;
  color: var(--extra-light);
  border-radius: 0px 5px 5px 0px;
  text-align: end;
  transition: all 0.5s;
  cursor: pointer;

}

.green {
  background-color: green;
}

.red {
  background-color: #f44336;
}

.black {
  background-color: var(--primary-color-dark);
}



.section_enquery a {
  color: var(--extra-light);
  font-size: 10px;
}

.section_enquery a i {
  font-size: 20px;
}

.section_enquery:hover {
  width: 60px;
}


.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
  margin-top: 100px;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2rem;


}


.sec__container {
  width: 100%;
  min-height: 75vh;
  background-image: url(/assets/himalay.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_contant {
  width: 100%;
  height: 75vh;
  padding: 33px;
  color: var(--text-dark);
  backdrop-filter: blur(5px);

}

.sec__container h2 {
  font-size: 3.7rem;
  text-transform: uppercase;



}




.header__image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content>div {
  margin-top: 40px;
  max-width: 450px;
  display: grid;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.video__image {
  position: relative;
}

.video__image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video__image span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video__image span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--extra-light);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story>span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.destination__nav {
  display: flex;
  gap: 1rem;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination__card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;

}

.destination__card img {
  border-radius: 1rem;
  transition: all 0.5s;
}

.destination__card img:hover {
  transform: scale(1.1);
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}

.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.trip {
  background-color: var(--secondary-color);
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.trip_card_img {
  overflow: hidden;
}

img {
  border-radius: 1rem;
  transition: all 0.3s;
  overflow: hidden;
}

/* img:hover {
  transform: scale(1.01);

} */

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book__now {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.gallary__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border-radius: 1rem;
}


.gallary__col {
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col img {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}


.gallary__content {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content>div {
  max-width: 400px;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;
}


.review {
  width: 100%;
  min-height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vh;
  margin-top: 50px;

}

.review .review_card {
  width: 350px;
  min-height: 60vh;
  background-color: var(--extra-light);
  color: var(--text-dark);
  text-align: center;
  /* border: 1px solid #0d213f; */
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: all 0.5s;
  border-radius: 1rem;
}

/* .review .review_card:hover {
  transform: scale(1.05);
} */

.review .review_card i {
  margin: 40%;
  font-size: 4rem;
  color: var(--text-dark);
}

.review .review_card h3 {
  text-transform: capitalize;
  padding-top: 10px;
}

.review .review_card P {
  padding: 10px;
}




.subscribe {
  background-color: var(--secondary-color);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  background-color: var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.subscribe__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}

.footer {
  background-color: var(--nav-footer);

}

.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  color: var(--secondary-color);
  text-align: start;
}

.footer__col h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: var(--primary-color);
}

.footer__col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.social_icon {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social_icon i {
  font-size: 1.5rem;
}

.social_icon a {
  color: white;
}

.social_icon i:hover {
  color: #3685fb;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

.contact_us {
  width: 100%;
  min-height: 80vh;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
  border: 1px solid #0d213f;
  flex-wrap: wrap;
}

/* .contact_details {
  width: 450px;
  min-height: 80vh;
  background-color: var(--text-dark);
  margin: 2%;
} */

@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }

}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    min-height: 500px;
  }

  .destination__grid {
    gap: 1rem;
  }

  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (width < 600px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}